/* Global font color */
@define-color c_font #4b505b;
/* Global font shadow color */
@define-color c_font_shadow #cccccc;
/* Bar background color (bg2) */
@define-color c_tb alpha(#e8ebf0, 0.85);
/* Bar box shadow color */
@define-color c_bar_shadow alpha(@c_font, 0.2);

/* Colorful colors */
@define-color c_red #E03C49;
@define-color c_purple #b05ccc;
@define-color c_yellow #be7e05;
@define-color c_orange #E5C07B;
@define-color c_green #2ea06d;
@define-color c_white #ffffff;
@define-color c_blue #5079be;
@define-color c_cyan #3a8b84;

/* Meters colors (CPU, RAM) */
@define-color c_metric_idle transparent;
@define-color c_metric_low lighter(@c_cyan);
@define-color c_metric_medium lighter(@c_yellow);
@define-color c_metric_high lighter(@c_orange);
@define-color c_metric_full lighter(@c_red);

/* Globals START */
* {
  font-family: "Exo 2", "Font Awesome 6 Free";
  font-size: 14px;
  color: @c_font;
  border-radius: 0
}
/* Globals END */

/* Bar START */
window#waybar{
  background: @c_tb;
  box-shadow: inset 0 0 8px @c_bar_shadow;
}
window#waybar.empty #window {
  border: none;
  box-shadow: none;
}
/* Bar END */

/* Workspace and taskbar elements */
/* Element border colors */
@define-color c_element_border_inactive alpha(@c_font, 0.2);
@define-color c_element_border_active @c_font;
/* Element background gradient */
@define-color c_element_bg_start alpha(#dde2e7, 0.25);
@define-color c_element_bg_end alpha(#dde2e7, 0.15);
/* Active element gradient */
@define-color c_element_active_bg_start alpha(#bcc5cf, 0.3);
@define-color c_element_active_bg_end alpha(#bcc5cf, 0.45);
/* Hovering element gradient */
@define-color c_element_hover_bg_start alpha(#bcc5cf, 0.6);
@define-color c_element_hover_bg_end alpha(#bac3cb, 0.4);
/* Taskbar START */
#taskbar button {
  margin: 2px 0px;
  padding: 4px 11px;
  border: 1px ridge @c_element_border_inactive;
  background: radial-gradient(@c_element_bg_start, @c_element_bg_end);
}
#taskbar button:hover {
  background: radial-gradient(@c_element_hover_bg_start, @c_element_hover_bg_end);
}

#taskbar button.active {
  background: linear-gradient(@c_element_active_bg_start, @c_element_active_bg_end);
  border: 1px groove @c_element_border_active;
}
#taskbar button.active:hover {
  background: radial-gradient(@c_element_hover_bg_start, @c_element_hover_bg_end);
}
/* Taskbar END */
/* Workspaces START */
#workspaces button {
  padding: 2px 0px;
  border: 1px ridge @c_element_border_inactive;
  background: radial-gradient(@c_element_bg_start, @c_element_bg_end);
}
#workspaces button:hover {
  background: radial-gradient(@c_element_hover_bg_start, @c_element_hover_bg_end);
}

#workspaces button.focused {
  background: linear-gradient(@c_element_active_bg_start, @c_element_active_bg_end);
  border: 1px groove @c_element_border_active;
}
#workspaces button.focused:hover {
  background: radial-gradient(@c_element_hover_bg_start, @c_element_hover_bg_end);
}
/* Workspaces END */

/* Window box shadow color */
@define-color c_window_box_shadow rgba(255,255,255,0.1);
/* Window title START */
#window {
  padding: 5px 15px 5px 15px;
  margin: 5px 0px 5px 3px;
  font-size: 16px;
  text-shadow: 0px 1px 2px @c_font_shadow;
  border: 2px ridge @c_font;
  box-shadow: inset 0 0 4px @c_window_box_shadow;
}
/* Window title END */

#language {
  padding: 0px 0px 5px 0px;
  margin: 0px 0px 0px 0px;
  font-size: 28px;
  background-color: rgba(235,229,229,0.5);
  border-radius: 14px;
}

#custom-weather {
  font-size: 11px;
}

#tray {
  margin: 3px;
  padding: 4px 0px;
  border: 4px black;
  border-radius: 14px;
  background-color: rgba(235,229,229,0.3);
}

#pulseaudio, #network, #cpu, #memory {
  font-size: 13px;
  background-color: transparent;
  margin: 1px;
  padding: 2px 0px;
}

/* Meters START */
#cpu.full, #memory.full {
  background: @c_metric_full;
}
#cpu.high, #memory.high {
  background: @c_metric_high;
}
#cpu.medium, #memory.medium {
  background: @c_metric_medium;
}
#cpu.low, #memory.low {
  background: @c_metric_low;
}
#cpu.idle, #memory.idle {
  background: @c_metric_idle;
}

#network.disconnected {
  background-color: @c_red;
}
#pulseaudio.muted {
  background-color: @c_red;
}
/* Meters END */

/* Battery START */
#battery {
  border-top: 2px hidden;
  padding: 4px;
  margin: 8px 0px 0px 0px;
}
#battery:not(.charging) {
  border-top: 2px dashed lighter(lighter(@c_blue));
}
#battery.critical:not(.charging) {
  background: @c_red;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: 5;
  animation-direction: alternate;
}
#battery.charged {
  color: lighter(lighter(@c_green));
  background: @c_green,
    linear-gradient(
      180deg,
      @c_green 0%,
      alpha(@c_green, 0.3) 30%,
      alpha(lighter(@c_green), 0.3) 50%,
      alpha(darker(@c_green), 0.2) 50%,
      alpha(darker(@c_green), 0.1) 75%,
      alpha(@c_green, 0.3) 100%
    );
}
#battery.discharging {
  color: lighter(lighter(@c_green));
  background: @c_green,
    linear-gradient(
      180deg,
      @c_green 0%,
      alpha(@c_green, 0.3) 30%,
      alpha(lighter(@c_green), 0.3) 50%,
      alpha(darker(@c_green), 0.2) 50%,
      alpha(darker(@c_green), 0.1) 75%,
      alpha(@c_green, 0.3) 100%
    );
}
#battery.decent {
  color: lighter(lighter(@c_blue));
  background: @c_blue,
    linear-gradient(
      180deg,
      @c_blue 0%,
      alpha(@c_blue, 0.3) 30%,
      alpha(lighter(@c_blue), 0.3) 50%,
      alpha(darker(@c_blue), 0.2) 50%,
      alpha(darker(@c_blue), 0.1) 75%,
      alpha(@c_blue, 0.3) 100%
    );
}
#battery.midcharge {
  color: lighter(lighter(@c_purple));
  background: @c_purple,
    linear-gradient(
      180deg,
      @c_purple 0%,
      alpha(@c_purple, 0.3) 30%,
      alpha(lighter(@c_purple), 0.3) 50%,
      alpha(darker(@c_purple), 0.2) 50%,
      alpha(darker(@c_purple), 0.1) 75%,
      alpha(@c_purple, 0.3) 100%
    );
}
#battery.warning {
  color: lighter(lighter(@c_orange));
  background: @c_orange,
    linear-gradient(
      180deg,
      @c_orange 0%,
      alpha(@c_orange, 0.3) 30%,
      alpha(lighter(@c_orange), 0.3) 50%,
      alpha(darker(@c_orange), 0.2) 50%,
      alpha(darker(@c_orange), 0.1) 75%,
      alpha(@c_orange, 0.3) 100%
    );
}
#battery.critical {
  color: lighter(lighter(@c_red));
  background: @c_red,
    linear-gradient(
      180deg,
      @c_red 0%,
      alpha(@c_red, 0.3) 30%,
      alpha(lighter(@c_red), 0.3) 50%,
      alpha(darker(@c_red), 0.2) 50%,
      alpha(darker(@c_red), 0.1) 75%,
      alpha(@c_red, 0.3) 100%
    );
}

@keyframes blink {
  to {
    background-color: @c_white;
    color: black;
  }
}
/* Battery END */

#clock {
  font-size: 12px;
  padding: 0px;
}

#custom-cmus_title {
  font-size: 14px;
  margin: 8px;
  text-shadow: 2px 2px @c_font_shadow;
}
#custom-cmus_artist {
  font-size: 11px;
  margin: 5px 0px 5px 0px;
  text-shadow: 2px 2px @c_font_shadow;
}
#custom-cmus_duration {
  font-size: 12px;
  margin: 2px;
  text-shadow: 2px 2px @c_font_shadow;
}
