.promotedlink, .ad-container, .premium-banner-outer {
 display: none !important;
}
ul.flat-list.buttons > li.give-gold-button {
    display: none !important;
}
ul.flat-list.buttons > li.report-button {
    display: none;
}
ul.flat-list.buttons > li.share {
    display: none;
}
ul.flat-list.buttons > li.crosspost-button {
    display: none;
}
ul.flat-vert.hover > li > a.buygold.choice {
    display: none;
}
