* {
    border: none;
    border-radius: 7;
    font-family: Droid Sans;
    font-size: 13px;
    min-height: 24px;
}

window#waybar {
    background: #787878;
    color: white;
}

#workspaces button {
    padding: 0 2px;
    background: #555555;
    color: white;
    border-top: 3px solid #d0d0d0;
    border-radius: 0
}

#workspaces button.focused {
    background: #222222;
    border-top: 3px solid #bcbcbc;
}

#mode {
    background: #64727D;
    border-top: 3px solid white;
}

#clock, #cpu, #memory, #network, #pulseaudio, #tray, #mode {
    padding: 0 5px;
    margin: 0 2px;
    border-top: 3px solid #d0d0d0;
}

#clock {
    padding: 0 5px;
    margin: 0 0px;
    background-color: #555555;
    border-radius: 3;
}

#battery {
    background-color: #555555;
    color: #ffffff;
    padding: 0 5px;
    margin: 0 4px;
    border-top: 6px solid #32a7ff;
}

#battery.charging {
    background-color: #555555;
    color: #ffffff;
    border-top: 6px solid #abd400;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.critical:not(.charging) {
    background: #ff2828;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: 5;
    animation-direction: alternate;
}

#cpu {
    background: #555555;
    color: #ffffff;
}

#memory {
    background: #555555;
    color: #ffffff;
}

#network {
    background: #555555;
    color: #ffffff;
}

#network.disconnected {
    background: #ff2828;
}

#pulseaudio {
    background: #555555;
    color: #ffffff;
}

#pulseaudio.muted {
    background: #ff9300;
    color: #222222;
}
