window {
    font-family: DAGGERSQUARE;
    font-size: 16px;
}

@keyframes erscheinen {
    from {opacity: 0;}
      to {opacity: 1;}
}

#input {
    border: 1px solid #737373;
    background-color: rgba(0, 0, 0, 0.0);
    color: #777d7f;
    animation: erscheinen 0.3s linear;
    border-radius: 15px;
}

#inner-box {
    background-color: rgba(68, 68, 68, 0.0);
}

#outer-box {
    background-color: rgba(0, 0, 0, 0.0);
}

#scroll {
    background-color: #121f24;
    animation: erscheinen 0.3s linear;
}

#text {
    color: #777d7e;
    margin: 5px;
}

#selected {
    border: 1px solid #9cb8d9;
    background-color: #47696a;
}

#unselected {
    border: 1px hidden;
    background-color: #081215;
}

#img {
    margin: 3px;
}
